@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 18, 18, 18;
      --background-end-rgb: 18, 18, 18;
    } */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.gray.100');
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.gray.300');
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.400');
}

@layer base {
  h1 {
    @apply text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl;
  }
}
